@tailwind base;
@tailwind components;
@tailwind utilities;

.what-is-happening {
  position: relative;
}

.twitter-success {
  background-color: #1da1f2;
  color: white;
  transition: 0.5s linear all;
}

.heart-beat {
  position: absolute;
  opacity: 0.5;
  left: 45px;
  top: 20px;
}
