.heart {
  position: relative;
  top: 15px;
  right: 13px;
  width: 48px;
  height: 48px;
  background: url(/images/heart-48.png) no-repeat;
  cursor: pointer;
}
.mine {
  right: -13px;
}
.blast {
  background-position: -1344px 0;
  transition: background 1s steps(28);
}
